.advertisement-upper {
    margin-top:3rem;
}

.advertisement-upper .description {
    padding:3rem;
}

.advertisement-upper .image-wrapper {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}
.advertisement-upper .image-wrapper img {
    object-fit: cover;
    height: 100%;
}

.advertisement-upper .description h2 {
    text-transform: uppercase;
    padding-bottom:2rem;
}

.advertisement-upper .description .list {
    padding-top:3rem;
}

@media screen and (max-width: 992px) {

    .advertisement-upper {
        margin-top:2rem;
    }

    .advertisement-upper .description {
        margin-top:1rem;
        padding:1.5rem;
        font-size:0.9rem;
    }

    .advertisement-upper .description h2 {
        padding-bottom:1rem;
        font-size:1.5rem;
    }

    .advertisement-upper .description .list {
        padding-top:1rem;
    }

    .advertisement-upper .image-wrapper {
        aspect-ratio: 3/2;
        width: 100%;
    }
    .advertisement-upper .image-wrapper img {
        object-fit: cover;
        width: 100%;
    }

}
