.redirect {
    margin-bottom:3rem;
}

.redirect .redirect-content {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 2rem;
    background-color:#FFFBFA;
}

.redirect p {
    font-size:1.1rem;
}

@media screen and (max-width: 992px) {

    .redirect {
        margin-bottom:2rem;
    }

    .redirect .redirect-content p {
        font-size:0.9rem;
    }
}
