.hero {
    padding-top: 5rem;
}

.hero .column:first-of-type {
    margin-right: auto;
}

.hero h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero p {
    margin-bottom: 2rem;
}

.hero .illustration {
    margin-top: -18rem;
    pointer-events: none;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
    .hero .illustration {
        margin-top: -16rem;
    }
}

@media screen and (max-width: 992px) {
    .hero h1 {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    .hero .column:nth-of-type(1) {
        padding-right: 3rem;
    }

    .hero .illustration {
        margin-top: -9rem;
    }
}

@media screen and (max-width: 768px) {
    .hero .illustration {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .hero {
        padding: 3rem 0;
    }

    .hero .column:nth-of-type(1) {
        padding-right: 0;
        align-items: center;
    }
}