.advertisement-upper {
    margin-top:3rem;
}

.advertisement-upper .content-advertisement {
    padding:3rem;
}

.advertisement-upper .content-advertisement h2 {
    text-transform: uppercase;
    padding-bottom:2rem;
}

.advertisement-upper .content-advertisement .content-list {
    padding-top:3rem;
}

@media screen and (max-width: 992px) {

    .advertisement-upper {
        margin-top:2rem;
    }

    .advertisement-upper .content-advertisement h2 {
        padding-bottom:1rem;
        font-size:1.5rem;
    }

    .advertisement-upper .content-advertisement {
        margin-top:1rem;
        padding:1.5rem;
        font-size:0.9rem;
    }

    .advertisement-upper .content-advertisement .content-list {
        padding-top:1rem;
    }

}
