.advertisements .advertisements-box {
    margin: 3rem 2rem 2rem 2rem;
}

.advertisements .advertisements-specifics {
    color:#6A6A6A;
}

.advertisements .advertisements-content {
    padding: 1rem;
}
.advertisements .advertisements-headline {
    padding-bottom:1rem;
    text-transform: uppercase;
}

.advertisements .button-advertisements {
    font-size:0.8rem;
    margin-top:1rem;
}



